<% if articles.length > 0 %>
<section id="articles">
  <% for article in articles[0...10] %>
    <article class="post">
      <header>
        <h2><a href="<%= article.path %>"><%= article.search_title %></a></h2>
        <span class="date"><%= article.show_date %></span>
      </header>

      <section class="content">
        <%= article.search_summary %>
      </section>
      <div class="more"><a href="<%= article.path %>">read on &raquo;</a></div>
    </article>
  <% end %>
</section>
<% else %>
<p>没有搜索到结果</p>
<% end %>